@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Helvetica/HelveticaNeue-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica/HelveticaNeue.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Helvetica/HelveticaNeue-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Helvetica/HelveticaNeue-Bold.otf") format("opentype");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.3;
  color: #333;
  background-color: #fff;
}
body.hidden {
  overflow: hidden;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Helvetica Neue", sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #000;
  font-size: 1rem;
  background-color: transparent;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: inherit;
}

.link-decoration:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-helve {
  font-family: "Helvetica Neue", sans-serif;
}

.font-arial {
  font-family: "Arial", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.font-sarabun {
  font-family: "Sarabun", sans-serif;
}

/*===========================================================================*/
.w-1140 {
  max-width: 71.25rem;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

/*=================================================================*/
.d-3xl-none {
  display: none;
}

.d-3xl-block {
  display: block;
}

.d-3xl-flex {
  display: flex;
}

.d-3xl-grid {
  display: grid;
}

.d-3xl-inline {
  display: inline-block;
}

.d-3xl-inline-flex {
  display: inline-flex;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: transparent;
  color: #333;
  outline: none;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 60%;
}

.image-wrapper-full {
  position: relative;
  display: block;
  padding-bottom: 100%;
}

.image-wrapper img,
.image-wrapper-full img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-55 {
  color: #555;
}

.text-gray-62 {
  color: #626262;
}

.text-gray-66 {
  color: #666;
}

.text-gray-82 {
  color: #828282;
}

.text-gray-4f {
  color: #4f4f4f;
}

.text-gray-d6 {
  color: #d6d6d6;
}

.text-gray-c4 {
  color: #c4c4c4;
}

.text-gray-ee {
  color: #eee;
}

.text-green-09 {
  color: #096639;
}

.text-green-006 {
  color: #006838;
}

.text-green-acc {
  color: #acce22;
}

.text-cyan-508 {
  color: #508ca4;
}

.text-red-eb {
  color: #eb242c;
}

.text-blue-152 {
  color: #152764;
}

.text-blue-356 {
  color: #35639f;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-cyan-012 {
  background-color: #012710;
}

.bg-cyan-337 {
  background-color: #337357;
}

.bg-cyan-418 {
  background-color: #418567;
}

.bg-gray-f7 {
  background-color: #f7f7f7;
}

.bg-gray-f1 {
  background-color: #f1f9ff;
}

.bg-green-096 {
  background-color: #096639;
}

.bg-green-006 {
  background-color: #006838;
}

.bg-blue-28 {
  background-color: #284fa7;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-30 {
  padding: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-30 {
  margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-1 {
  line-height: 1;
}

.lh-15 {
  line-height: 0.9375rem;
}

.lh-16 {
  line-height: 1rem;
}

.lh-19 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-40 {
  line-height: 2.5rem;
}

.lh-46 {
  line-height: 2.875rem;
}

.lh-130 {
  line-height: 130%;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

/*=================================================================*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*=================================================================*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/*=================================================================*/
.gap-8 {
  grid-gap: 0.5rem;
}

.gap-16 {
  grid-gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
}

.gap-25 {
  grid-gap: 1.5625rem;
}

.gap-30 {
  grid-gap: 1.875rem;
}

/*=================================================================*/
.h-full {
  height: 100%;
}

.h-32 {
  height: 2rem;
}

.h-36 {
  height: 2.25rem;
}

.h-40 {
  height: 2.5rem;
}

.h-48 {
  height: 3rem;
}

.h-56 {
  height: 3.5rem;
}

/*=================================================================*/
.max-w-fit {
  max-width: fit-content;
}

/*=================================================================*/
.tracking-0125 {
  letter-spacing: 0.0125em;
}

.tracking-03125 {
  letter-spacing: 0.03125em;
}

.tracking-02 {
  letter-spacing: 0.02em;
}

.tracking-04 {
  letter-spacing: 0.4px;
}

.tracking-073 {
  letter-spacing: 0.00735em;
}

.tracking-166 {
  letter-spacing: 0.16667em;
}

/*=================================================================*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*=================================================================*/
.transition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

/*=================================================================*/
.cursor {
  cursor: pointer;
}

/*=================================================================*/
.cover {
  object-fit: cover;
}

/*=================================================================*/
.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.hover-orange circle {
  fill: transparent;
}
.hover-orange:hover > a {
  color: #c35403;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.hover-orange:hover circle {
  fill: currentColor;
}

.hover-orange-2 {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.hover-orange-2:hover {
  color: #c35403;
  background-color: rgba(195, 84, 3, 0.1);
  border-color: currentColor;
}

.border-e5 {
  border-bottom: 1px solid #e5e5e5;
}

.border-d6 {
  border-bottom: 1px solid #d6d6d6;
}

.border-cyan-337 {
  border-bottom: 1px solid #337357;
}

.hidden {
  display: none;
}
.hidden.active {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.nav-header-wrapper {
  padding: 0.9375rem 20px;
}

.nav-header__logo {
  max-height: 3.125rem;
  width: auto;
}

.nav-header__right-item {
  flex-shrink: 0;
}

.nav-header__right-item + .nav-header__right-item {
  margin-left: 0.375rem;
}

.nav-header__right-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #19774c;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.nav-header__right-link:hover {
  background: #0a9a87;
}

.nav-header__right-btn {
  background: transparent;
  border: 1px solid #19774c;
  padding: 6px 12px;
  font-weight: 600;
}
.nav-header__right-btn:hover {
  background: #0a9a87;
  color: #fff;
}

.nav-header__right-icon {
  height: 0.875rem;
  width: auto;
}

.nav-header__right-login:hover {
  color: #c35403;
}

.nav-header__right-search {
  margin-left: 1.875rem;
}

.nav-search-group {
  width: 10.9375rem;
  height: 1.875rem;
  border: 1px solid rgba(229, 229, 229, 0.3);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.form-search-pc {
  width: 100%;
  background: transparent;
  color: #fff;
  height: 1.875rem;
  padding: 0.5rem 0.625rem 0.625rem 1.75rem;
}

.form-search-pc::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.form-search-pc:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.form-search-pc::placeholder {
  color: #fff;
}

.btn-search {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  padding: 0;
  background: transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.navbar-wrapper {
  border-bottom: 2px solid #00a216;
  position: relative;
  background-color: #fff;
  padding: 0 20px;
}
.navbar-wrapper.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  width: 100%;
}
.navbar .navbar-item {
  position: relative;
}
.navbar .navbar-item:first-child a {
  padding-left: 0;
}
.navbar .navbar-item.active > a {
  color: #006838;
}
.navbar .navbar-item a {
  padding: 10px 12px;
  display: flex;
}
.navbar .navbar-item .navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 200px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: none;
}
.navbar .navbar-item .navbar-dropdown__item:hover a {
  color: #ffffff;
  background-color: #09663982;
}
.navbar .navbar-item:hover .navbar-dropdown {
  display: block;
}

.navbar-menu-mb {
  position: relative;
  background-color: #096639;
}
.navbar-menu-mb.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
}

.breadcrumb {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.breadcrumb-item {
  position: relative;
  font-weight: 400;
  color: #333;
}
.breadcrumb-item + .breadcrumb-item {
  margin-left: 2.5rem;
}
.breadcrumb-item:first-child {
  font-size: 24px;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
  color: #006838;
}
.breadcrumb-item:first-child::before {
  content: "❯";
  position: absolute;
  top: 50%;
  right: -1.75rem;
  transform: translateY(-50%);
  font-size: 28px;
  color: #00a216;
}
.breadcrumb-item.active {
  font-weight: bold;
  color: #006838;
}
.breadcrumb.breadcrumb--secondary .breadcrumb-item:nth-child(n+2) {
  font-weight: 400;
  color: #333;
}
.breadcrumb.breadcrumb--secondary .breadcrumb-item.active {
  font-weight: bold;
  color: #006838;
}
.breadcrumb.breadcrumb--secondary .breadcrumb-item .breadcrumb-link:hover {
  font-weight: bold;
  color: #006838;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  will-change: opacity;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.header-search-mb__form {
  background-color: #096639;
  height: 60px;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.header-search-mb__form.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.header-search-input {
  padding-right: 3.5rem;
}
.header-search-input::placeholder {
  color: #fff;
}

.header-search-btn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.sub-menu__content {
  position: fixed;
  left: 0;
  top: 0;
  width: 17.5rem;
  height: 100%;
  background-color: #096639;
  z-index: 100;
  box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2), 0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14), 0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.sub-menu__close {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu__container {
  height: calc(100% - 100px);
  overflow: auto;
}
.sub-menu__item.active .heading-sub__arrow svg {
  color: #fff;
  transform: rotate(-90deg);
}
.sub-menu.active .sub-menu__content {
  transform: translate(0);
}
.sub-menu.active .overlay {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.heading-sub__arrow svg {
  transition: all 0.2s ease 0s;
  transform: rotate(90deg);
}

.list-sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.item-sub__link {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 3.125rem;
  color: #fff;
}
.item-sub:last-child .item-sub__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.header-top-mb {
  position: relative;
  overflow: hidden;
}
.header-top-mb .left .logo img {
  height: 2.5rem;
}

.navbar-mb {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.navbar-mb::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar-mb::-webkit-scrollbar-track {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb {
  background: transparent;
}
.navbar-mb::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.navbar-mb .navbar-item + .navbar-item {
  margin-left: 1.25rem;
}

.navbar-scroll-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background: linear-gradient(270deg, #094d2c 28.12%, #096639 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb-primary {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.breadcrumb-primary__slide {
  max-width: 1140px;
}
.breadcrumb-primary .swiper-slide {
  width: auto !important;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-button-prev {
  width: 30px;
  height: 30px;
  margin-top: 0;
  background: #8c3414;
  color: #ffffff;
  transform: translateY(-50%);
}
.breadcrumb-primary .swiper-button-next:after,
.breadcrumb-primary .swiper-button-prev:after {
  font-size: 12px;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.breadcrumb-primary .swiper-button-next.swiper-button-disabled,
.breadcrumb-primary .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}
.breadcrumb-primary .swiper-slide {
  width: auto;
  display: inline-block;
  position: relative;
}
.breadcrumb-primary .swiper-slide:first-child .breadcrumb-primary__item {
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
  text-transform: uppercase;
  color: #006838;
}
.breadcrumb-primary .swiper-slide:first-child .breadcrumb-primary__item::before {
  content: "❯";
  position: absolute;
  top: 50%;
  right: -1.75rem;
  transform: translateY(-50%);
  font-size: 28px;
  color: #00a216;
}
.breadcrumb-primary .swiper-slide:nth-child(n+2) {
  margin-left: 2.5rem;
  margin-top: 7px;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 5.5px;
}
.alphabet-item {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background: #fff;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.alphabet-item.active, .alphabet-item:hover {
  background-color: #006838;
  color: #fff;
}
.alphabet-item.disable {
  pointer-events: none;
  color: #ccc;
  user-select: none;
}

.scroll-text {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
}

.heading-primary {
  border-bottom: 1px solid #e5e5e5;
}
.heading-primary a {
  display: inline-block;
  padding-bottom: 0.625rem;
  border-bottom: 2px solid #acce22;
}

.heading-primary--fixColor {
  border-bottom: 1px solid #e5e5e5;
}
.heading-primary--fixColor a {
  display: inline-block;
  padding-bottom: 0.625rem;
  border-bottom: 5px solid #096639;
}

.heading-secondary {
  border-bottom: 1px solid #096639;
  padding-bottom: 0.5rem;
  position: relative;
}

.heading-tertiary {
  position: relative;
}

.section-primary {
  position: relative;
  padding: 60px 20px 44px;
  background-image: url("../images/bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-primary__title {
  position: relative;
}
.section-primary__content {
  background-color: #f1f9ff;
  border-radius: 4px;
  padding: 46px 33px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.section-primary__form {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 12px;
  font-size: 15px;
  flex: 1;
  max-width: 670px;
}
.section-primary__input {
  flex: 1;
  padding: 8px;
}
.section-primary__btn {
  width: 48px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006838;
}
.section-primary__btn img {
  width: 16px;
  height: auto;
}
.section-primary__tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 18px;
}
.section-primary__tabs .tab-item {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 16px;
  margin-bottom: 16px;
}
.section-primary__tabs .tab-item.active, .section-primary__tabs .tab-item:hover {
  background-color: #006838;
  color: #fff;
}

.section-secondary {
  padding: 0 20px;
}
.section-secondary__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-bottom: 30px;
}
.section-secondary__content .article:first-child {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  column-gap: 30px;
}
.section-secondary__content .article:first-child .article__img {
  width: 50%;
  flex: 1;
}
.section-secondary__content .article:first-child .article__content {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-secondary__content .article:nth-child(n+2) {
  width: calc(50% - 15px);
  padding: 30px 0;
}
.section-secondary__content .article:nth-child(n+2) .image-wrapper::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(360deg, #fff, transparent);
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  z-index: 10;
}
.section-secondary__content .article:nth-child(n+2) .article__content {
  max-width: 400px;
  margin: auto;
  margin-top: -20px;
  position: relative;
  z-index: 10;
}

.section-tertiary {
  background-image: linear-gradient(180deg, #0a1e29, #004165);
  padding: 0 20px 30px;
}
.section-tertiary__container {
  position: relative;
  padding-top: 40px;
}
.section-tertiary__wave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.section-tertiary__content {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.section-tertiary .article {
  padding: 20px;
  border-radius: 4px;
  background-color: #f1f9ff;
}
.section-tertiary .article .image-wrapper {
  padding-bottom: 100%;
}
.section-tertiary .article .image-wrapper img {
  border-radius: 50%;
}
.section-tertiary .article__content {
  margin-top: 24px;
}

.article__more {
  font-size: 13px;
  padding: 8px 10px;
  background-color: #006838;
  border-radius: 999px;
  color: #fff;
  font-weight: 300;
  font-family: arial;
  margin-top: 24px;
  display: inline-block;
}
.article__more:hover {
  color: #c35403;
}

.investors {
  position: relative;
}
.investors-wrapper {
  background-color: #f1f9ff;
  position: relative;
  padding: 60px 20px;
}
.investors .investor-container {
  max-width: 654px;
  margin: auto;
}
.investors .investor-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.investors .investor-item {
  width: 30%;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}
.investors .investor-item img {
  object-fit: contain;
}

.ads-center {
  background: #f1f9ff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-a-lot__item:last-child {
  border-bottom: none;
}

.newspaper {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(39, 154, 47, 0.4);
}
.newspaper::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}
.newspaper-content {
  position: relative;
  text-align: center;
  padding: 20px;
}
.newspaper-logo-nn img {
  margin: auto;
}
.newspaper .doted {
  margin: 20px auto;
  max-width: 200px;
  border-bottom: 2px dashed #00a216;
}
.newspaper .hotline-icon {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
}

.register-email__input {
  background-color: #f7f7f7;
}
.register-email__group {
  position: relative;
}
.register-email__icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-email__input {
  border: 1px solid #e5e5e5;
  height: 1.875rem;
  border-radius: 999px;
  width: 100%;
  padding: 8px 80px 8px 28px;
  font-size: 0.875rem;
}
.register-email__input:focus {
  border-color: #00a216;
}
.register-email__btn {
  background-color: #00a216;
  color: #fff;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  cursor: pointer;
}

.box-primary {
  box-shadow: 0 1px 2px #e5e5e5;
}
.box-primary .articles__small {
  grid-gap: 1rem 0.625rem;
}

.box-media-mb__heading {
  border-bottom: 1px solid #e5e5e5;
}
.box-media-mb__heading a {
  display: inline-block;
  padding-bottom: 0.625rem;
  border-bottom: 2px solid #fff;
}
.box-media-mb .articles__small {
  max-height: 368px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.box-media-mb .articles__small::-webkit-scrollbar {
  width: 0.5rem;
}
.box-media-mb .articles__small::-webkit-scrollbar-track {
  background: transparent;
}
.box-media-mb .articles__small::-webkit-scrollbar-thumb {
  background: #175339;
  border-radius: 1rem;
}
.box-media-mb .articles__small::-webkit-scrollbar-thumb:hover {
  background: #175339;
}
.box-media-mb .articles__small .article:first-child {
  padding-top: 0;
}
.box-media-mb .articles__small .article:last-child {
  border-bottom: none;
}

.cate-primary {
  grid-template-columns: 1fr 330px;
  margin-bottom: 1.875rem;
}
.cate-primary__right {
  padding-left: 1.875rem;
  border-left: 1px solid #e5e5e5;
}
.cate-primary__top .articles__large {
  grid-column: 1/3;
}
.cate-primary__top .articles__small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cate-primary__top .articles__small .article:last-child {
  border-bottom: none;
}

.cate-secondary {
  grid-template-columns: 1fr 330px;
  margin-bottom: 1.875rem;
}
.cate-secondary__right {
  padding-left: 1.875rem;
  border-left: 1px solid #e5e5e5;
}

.pagination-item {
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  background-color: #dfdfdf;
  transition: all 0.2s;
}
.pagination-item + .pagination-item {
  margin-left: 8px;
}
.pagination-item:hover {
  background-color: #096639;
  color: #fff;
}
.pagination-item.active {
  background-color: #096639;
  color: #fff;
}
.pagination-link {
  padding: 10px 15px;
  display: inline-block;
}

.box-event {
  position: relative;
  max-width: 300px;
}
.box-event .swiper-pagination {
  top: 8px;
  bottom: auto;
  text-align: right;
}
.box-event .swiper-pagination-bullet {
  width: 1rem;
  height: 0.25rem;
  border-radius: 0;
}
.box-event .swiper-pagination-bullet-active {
  background: #096639;
}

.cate-sick-primary {
  padding: 30px 20px 0;
  background: #fff;
  position: relative;
}
.cate-sick-primary::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg_2.png");
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 360px;
}
.cate-sick-primary .scroll-text {
  top: 40%;
}

.cate-sick-secondary {
  padding: 0 20px 60px;
}
.cate-sick-secondary__content .item-alphabet {
  margin-top: 10px;
}
.cate-sick-secondary__content .item-alphabet__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}
.cate-sick-secondary__content .list-sick {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}
.cate-sick-secondary__content .item-sick__link {
  font-family: arial;
  font-size: 16px;
  padding: 7px 16px;
  display: block;
}
.cate-sick-secondary__content .item-sick__link:hover {
  background-color: #006838;
  color: #fff;
}
.cate-sick-secondary__content .item-sick__text {
  border-radius: 4px;
  border: 1px solid #f1f9ff;
  overflow: hidden;
}
.cate-sick-secondary__content .item-sick__text.active {
  background-color: #006838;
  color: #fff;
}

.cate-doctor-primary {
  padding: 30px 20px 60px;
  background: #fff;
  position: relative;
}
.cate-doctor-primary::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg_2.png");
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 360px;
}
.cate-doctor-primary__container {
  position: relative;
}
.cate-doctor-primary__select {
  gap: 12px;
}
.cate-doctor-primary__selectItem, .cate-doctor-primary__selectItemBtn {
  height: 38px;
  padding: 6px 24px;
  border-radius: 4px;
}
.cate-doctor-primary__selectDepartment {
  max-width: 32%;
}
.cate-doctor-primary .section-tertiary__content .article {
  padding: 20px;
  border-radius: 4px;
  background-color: #f1f9ff;
}
.cate-doctor-primary .section-tertiary__content .article .image-wrapper {
  padding-bottom: 100%;
}
.cate-doctor-primary .section-tertiary__content .article .image-wrapper img {
  border-radius: 50%;
}
.cate-doctor-primary .section-tertiary__content .article__content {
  margin-top: 24px;
}

.detail-primary {
  grid-template-columns: 1fr 330px;
  margin-bottom: 1.875rem;
}
.detail-primary__left {
  flex: 1;
}
.detail-primary__right {
  padding-left: 1.875rem;
  border-left: 1px solid #e5e5e5;
  flex-shrink: 0;
}

.icon-share-2 {
  position: sticky;
  top: 20%;
  border: 1px solid #eef4ed;
  box-shadow: 0px 0px 5px #d5d5d594;
}

.detail-icon-comment a {
  width: 3rem;
  height: auto;
  text-align: center;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 46.8px */
  letter-spacing: 0.72px;
}

.detail-content {
  padding-left: 4rem;
}
.detail-content figure {
  margin-bottom: 1.25rem;
}
.detail-content figure img {
  width: 100%;
  height: auto !important;
  margin: auto;
}
.detail-content figure figcaption {
  background: #f7f7f7;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #555;
}
.detail-content p, .detail-content li {
  font-size: 17px;
  font-family: "Noto Serif", serif;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
.detail-content ul {
  padding-left: 30px;
}
.detail-content ul li {
  list-style: disc;
}
.detail-content > h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 24px;
  color: #333;
}
.detail-content blockquote {
  background-color: #f1f9ff;
  padding: 18px 15px;
  margin-bottom: 1.25rem;
}
.detail-content blockquote p {
  font-family: "Arial";
}
.detail-content blockquote p:last-child {
  margin-bottom: 0;
}

.detail-share__item + .detail-share__item {
  margin-left: 0.625rem;
}
.detail-share__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  transition: all 0.2s ease;
}
.detail-share__link:hover {
  opacity: 0.9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.detail-share--fb {
  width: 2.25rem;
  background-color: #3b5999;
}
.detail-share--like {
  background-color: #087cce;
  padding: 0 15px;
}
.detail-share--like img {
  width: 0.9375rem;
  margin-right: 0.5rem;
}
.detail-share--like span {
  color: #fcfaf6;
  line-height: 1;
}
.detail-share--twitter {
  width: 2.25rem;
  background-color: #55acee;
}
.detail-share--linked {
  width: 2.25rem;
  background-color: #0073b1;
}
.detail-share--email {
  width: 2.25rem;
  background-color: #e5e5e5;
}

.detail-tags {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  align-items: center;
}

.detail-tag-icon {
  font-size: 14px;
  background: #f2efea;
  height: 36px;
  width: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.detail-tag-icon:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 8px solid #f2efea;
  right: -8px;
  position: absolute;
}

.detail-tag {
  margin-right: 1.25rem;
}

.detail-tag-item {
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #4f4f4f;
  font-size: 15px;
  position: relative;
}
.detail-tag-item:nth-child(odd) {
  color: #096639;
}
.detail-tag-item::before {
  position: absolute;
  content: "⁄";
  color: #4f4f4f;
  top: 50%;
  left: -0.75rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.detail-tag-item:nth-child(1)::before {
  content: "";
}
.detail-tag-item a:hover {
  color: #096639;
}

.realated-news__container .article:last-child, .realated-news__container .article:nth-last-child(2), .realated-news__container .article:nth-last-child(3) {
  border-bottom: none;
}

.detail-doctor-primary {
  position: relative;
  padding: 20px;
  background-image: url(../images/bg_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.detail-doctor-primary .article {
  display: flex;
  width: 100%;
}
.detail-doctor-primary .article .image-wrapper {
  padding-bottom: 100%;
}
.detail-doctor-primary .article .image-wrapper img {
  border-radius: 50%;
}
.detail-doctor-primary .article__img {
  flex-shrink: 0;
  width: 300px;
}
.detail-doctor-primary .article__content {
  flex: 1;
  margin-left: 40px;
}
.detail-doctor-primary .article__title {
  color: #b6ffd4;
}
.detail-doctor-primary .article__contact {
  font-size: 13px;
  padding: 8px 10px;
  background-color: #006838;
  border-radius: 999px;
  color: #fff;
  font-weight: 300;
  font-family: arial;
  display: inline-block;
}
.detail-doctor-primary .article__contact:hover {
  color: #c35403;
}

.btn-contact {
  font-size: 13px;
  padding: 8px 10px;
  background-color: #006838;
  border-radius: 999px;
  color: #fff;
  font-weight: 300;
  font-family: arial;
  display: inline-block;
  flex-shrink: 0;
}
.btn-contact:hover {
  color: #c35403;
}
.btn-contact--secondary {
  background-color: #8d8d8d;
}

.detail-author__img {
  flex-shrink: 0;
  margin-right: 10px;
}
.detail-author__img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #337357;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer {
  background-color: #f1f9ff;
}

.footer-navbar {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.625rem;
}

.footer-social .item + .item {
  margin-left: 10px;
}
.footer-social .item .link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
}

@media (max-width: 1536px) {
  .d-2xl-none {
    display: none;
  }

  .d-2xl-block {
    display: block;
  }

  .d-2xl-flex {
    display: flex;
  }

  .d-2xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- index*/
}
@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- index*/
  .wrapper {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .footer {
    padding: 1.875rem 0;
  }
  .footer-logo img {
    height: 80px;
  }
  .footer-info {
    font-size: 0.875rem;
    color: #000;
    padding: 0;
    border-bottom: 0;
  }
  .footer-info-left {
    margin-bottom: 0.625rem;
  }
  .footer-info-right {
    margin-bottom: 0.625rem;
    text-align: left;
  }
  .footer-caution {
    font-size: 0.875rem;
    color: #000;
    padding: 0;
    text-align: left;
    line-height: 1.375rem;
    margin-bottom: 1.25rem;
  }

  .register-email__group {
    max-width: 240px;
    margin: auto;
  }
  .register-email__btn {
    background-color: #eb242c;
  }

  .detail-content {
    padding-left: 1rem;
  }
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  .wrapper {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .ads-center {
    background: transparent;
    box-shadow: unset;
    padding: 0;
  }

  .scroll-text {
    display: none;
  }

  .section-primary__title {
    font-size: 32px;
  }

  .section-tertiary__content .article__title {
    font-size: 28px;
  }

  .breadcrumb {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }

  .breadcrumb-primary {
    padding-left: 15px;
    padding-right: 15px;
  }

  .detail-content {
    padding-left: 0;
  }
  .detail-content .detail-title {
    margin-bottom: 1.25rem;
  }
  .detail-content .detail-time-public {
    margin-bottom: 1.25rem;
    line-height: 160%;
  }

  .detail-tags {
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .realated-news__container {
    grid-gap: 0.625rem;
  }
  .realated-news__container .article {
    border-bottom: none;
  }
  .realated-news__container .article__content {
    padding-top: 0.625rem;
  }
  .realated-news__container .article__title {
    font-size: 1rem;
  }

  .other-news__container .article {
    padding: 0.9375rem 0;
  }
  .other-news__container .article:first-child {
    padding-top: 0;
  }
  .other-news__container .article__title {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .other-news__container .article__des, .other-news__container .time-public {
    display: none;
  }

  .detail-doctor-primary .article__img {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  .section-primary__title {
    font-size: 28px;
  }

  .section-secondary__content .article__title {
    font-size: 24px;
  }

  .section-tertiary__content .article__title {
    font-size: 20px;
  }

  .cate-sick-secondary__content .list-sick {
    grid-template-columns: repeat(4, 1fr);
  }

  .cate-doctor-primary .section-tertiary__content {
    grid-gap: 20px;
  }

  .detail-doctor-primary .article__img {
    width: 200px;
  }
}
@media (max-width: 640px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .heading-secondary {
    font-size: 24px;
  }

  .heading-tertiary {
    font-size: 24px;
  }

  .section-primary__title {
    font-size: 24px;
  }
  .section-primary__content {
    padding: 20px;
  }
  .section-primary__top {
    display: block;
  }
  .section-primary__top-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .section-primary__form {
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
  .section-primary__tabs .tab-item {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .section-secondary__content {
    gap: 20px;
    padding-bottom: 20px;
  }
  .section-secondary__content .article:first-child {
    display: block;
    padding-bottom: 15px;
  }
  .section-secondary__content .article:first-child .article__img {
    width: 100%;
  }
  .section-secondary__content .article:first-child .article__content {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
  .section-secondary__content .article:nth-child(n+2) {
    width: calc(50% - 10px);
    padding: 0;
  }
  .section-secondary__content .article:nth-child(n+2) .time-public,
.section-secondary__content .article:nth-child(n+2) .article__des {
    display: none;
  }
  .section-secondary__content .article:nth-child(n+2) .article__content {
    max-width: 100%;
    margin-top: 15px;
  }
  .section-secondary__content .article:nth-child(n+2) .article__title {
    font-size: 16px;
  }
  .section-secondary__content .article:nth-child(n+2) .image-wrapper::before {
    content: none;
  }

  .section-tertiary__content {
    margin-top: 10px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .section-tertiary .article {
    padding: 15px;
    display: flex;
  }
  .section-tertiary .article .article__img {
    width: 30%;
    flex-shrink: 0;
  }
  .section-tertiary .article .article__content {
    margin-top: 0;
    padding-left: 15px;
  }
  .section-tertiary .article .time-public {
    padding: 10px 0;
  }

  .investors-wrapper {
    padding: 40px 20px;
  }

  .investors {
    padding-bottom: 0;
  }
  .investors .investor-item {
    width: 28%;
    height: 60px;
  }
  .investors .investor-title {
    font-size: 18px;
  }

  .cate-sick-secondary__content .list-sick {
    grid-template-columns: repeat(2, 1fr);
  }
  .cate-sick-secondary__content .item-alphabet__title {
    font-size: 32px;
  }

  .cate-doctor-primary__select {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .cate-doctor-primary__selectDepartment {
    max-width: 100%;
  }
  .cate-doctor-primary__selectItemBtn {
    width: 100%;
  }
  .cate-doctor-primary .section-tertiary__content .article {
    padding: 15px;
    display: flex;
  }
  .cate-doctor-primary .section-tertiary__content .article .article__img {
    width: 30%;
    flex-shrink: 0;
  }
  .cate-doctor-primary .section-tertiary__content .article .article__content {
    margin-top: 0;
    padding-left: 15px;
  }
  .cate-doctor-primary .section-tertiary__content .article .time-public {
    padding: 10px 0;
  }

  .detail-title {
    font-size: 30px;
    letter-spacing: 0;
  }

  .detail-content .detail-author {
    display: block;
  }
  .detail-content .detail-author__left {
    margin-bottom: 10px;
  }
  .detail-content .detail-author .btn-contact {
    margin-left: 0;
    margin-right: 10px;
  }
  .detail-content > h2 {
    font-size: 26px;
  }
  .detail-content .article__title {
    font-size: 16px;
  }
  .detail-content .article__des,
.detail-content .time-public {
    display: none;
  }

  .detail-doctor-primary .article {
    display: block;
  }
  .detail-doctor-primary .article__img {
    width: 150px;
    margin: auto;
  }
  .detail-doctor-primary .article__content {
    margin-left: 0;
    margin-top: 20px;
  }
  .detail-doctor-primary .article__heading {
    display: block;
  }
  .detail-doctor-primary .article__heading .article__title {
    font-size: 28px;
  }
  .detail-doctor-primary .article__heading .article__contact {
    margin-top: 10px;
  }

  .other-news .heading-quinary {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .footer-logo img {
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
