.alphabet {
    display: flex;
    flex-wrap: wrap;
    gap: 5.5px;

    &-item {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        background: #fff;
        color: #333333;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: all 0.2s;
        cursor: pointer;

        &.active,
        &:hover {
            background-color: #006838;
            color: #fff;
        }
        &.disable {
            pointer-events: none;
            color: #ccc;
            user-select: none;
        }
    }
}

.scroll-text {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
}

.heading-primary {
    border-bottom: 1px solid #e5e5e5;
    a {
        display: inline-block;
        padding-bottom: 0.625rem;
        border-bottom: 2px solid #acce22;
    }
}
.heading-primary--fixColor {
    border-bottom: 1px solid #e5e5e5;
    a {
        display: inline-block;
        padding-bottom: 0.625rem;
        border-bottom: 5px solid #096639;
    }
}

.heading-secondary {
    border-bottom: 1px solid #096639;
    padding-bottom: 0.5rem;
    position: relative;

    // &::before {
    //     position: absolute;
    //     content: "";
    //     width: 3px;
    //     height: 26px;
    //     left: 0;
    //     border-radius: 0.625rem;
    //     background-color: #acce22;
    // }
}
.heading-tertiary {
    position: relative;
}

.heading-quaternary {
        font-weight: bold;
        font-size: 20px;
        position: relative;
        color: #096639;
        border-left: 3px solid #ACCE22;
        padding-left: 6px;
        padding-right: 15px;
        margin-bottom: 20px;
}

.heading-quinary {
    font-weight: bold;
    font-size: 32px;
    position: relative;
    color: #096639;
    border-bottom: 2px solid #006838;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.section-primary {
    position: relative;
    padding: 60px 20px 44px;
    background-image: url("../images/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        position: relative;
    }
    &__content {
        background-color: #f1f9ff;
        border-radius: 4px;
        padding: 46px 33px;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    &__form {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 12px;
        font-size: 15px;
        flex: 1;
        max-width: 670px;
    }

    &__input {
        flex: 1;
        padding: 8px;
    }

    &__btn {
        width: 48px;
        height: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #006838;

        img {
            width: 16px;
            height: auto;
        }
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 18px;

        .tab-item {
            padding: 10px 16px;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s;
            margin-right: 16px;
            margin-bottom: 16px;
            &.active,
            &:hover {
                background-color: #006838;
                color: #fff;
            }
        }
    }
}
.section-secondary {
    padding: 0 20px;
    &__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        padding-bottom: 30px;

        .article {
            &:first-child {
                display: flex;
                width: 100%;
                padding-bottom: 30px;
                border-bottom: 1px solid #e0e0e0;
                column-gap: 30px;

                .article__img {
                    width: 50%;
                    flex: 1;
                }
                .article__content {
                    flex: 1;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            &:nth-child(n + 2) {
                width: calc(50% - 15px);
                padding: 30px 0;
                .image-wrapper {
                    &::before {
                        content: "";
                        position: absolute;
                        background-image: linear-gradient(
                            360deg,
                            #fff,
                            transparent
                        );
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 30px;
                        width: 100%;
                        z-index: 10;
                    }
                }
                .article__content {
                    max-width: 400px;
                    margin: auto;
                    margin-top: -20px;
                    position: relative;
                    z-index: 10;
                }
            }
        }
    }
}

.section-tertiary {
    background-image: linear-gradient(180deg, #0a1e29, #004165);
    padding: 0 20px 30px;
    &__container {
        position: relative;
        padding-top: 40px;
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    &__content {
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e0e0e0;
    }
    .article {
        padding: 20px;
        border-radius: 4px;
        background-color: #f1f9ff;

        .image-wrapper {
            padding-bottom: 100%;
            img {
                border-radius: 50%;
            }
        }
    }

    .article__content {
        margin-top: 24px;
    }
}
.article__more {
    font-size: 13px;
    padding: 8px 10px;
    background-color: #006838;
    border-radius: 999px;
    color: #fff;
    font-weight: 300;
    font-family: arial;
    margin-top: 24px;
    display: inline-block;
    &:hover {
        color: #c35403;
    }
}
.investors {
    position: relative;
    &-wrapper {
        background-color: #f1f9ff;
        position: relative;
        // height: 100%;
        padding: 60px 20px;
    }

    .investor-container {
        max-width: 654px;
        margin: auto;
    }

    .investor-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .investor-item {
        width: 30%;
        padding: 10px;
        display: flex;

        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;

        img {
            object-fit: contain;
            height: 88px;
            width: auto;
        }
    }
}

.ads-center {
    background: #f1f9ff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

// mobile
.read-a-lot {
    &__item {
        &:last-child {
            border-bottom: none;
        }
    }
}
.newspaper {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(39, 154, 47, 0.4);
    &::before {
        content: "";
        position: absolute;
        background-image: url("../images/bg_5.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100%;
    }
    &-content {
        position: relative;
        text-align: center;
        padding: 20px;
    }
    &-logo-nn {
        img {
            margin: auto;
        }
    }

    .doted {
        margin: 20px auto;
        max-width: 200px;
        border-bottom: 2px dashed #00a216;
    }

    .hotline-icon {
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        border-radius: 50%;
    }
}

.register-email {
    &__input {
        background-color: #f7f7f7;
    }
    &__group {
        position: relative;
    }
    &__icon {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__input {
        border: 1px solid #e5e5e5;
        height: 1.875rem;
        border-radius: 999px;
        width: 100%;
        padding: 8px 80px 8px 28px;
        font-size: 0.875rem;

        &:focus {
            border-color: #00a216;
        }
    }
    &__btn {
        background-color: #00a216;
        color: #fff;
        border-radius: 999px;
        padding: 0.5rem 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.75rem;
        cursor: pointer;
    }
}
.box-primary {
    box-shadow: 0 1px 2px #e5e5e5;

    & .articles__small {
        grid-gap: 1rem 0.625rem;
    }
}

.box-media-mb {
    &__heading {
        border-bottom: 1px solid #e5e5e5;

        & a {
            display: inline-block;
            padding-bottom: 0.625rem;
            border-bottom: 2px solid #fff;
        }
    }
    & .articles__small {
        max-height: 368px;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #175339;
            border-radius: 1rem;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #175339;
        }
        & .article {
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
